
/*https://jhildenbiddle.github.io/docsify-themeable/#/customization*/
:root {
    --content-max-width: calc(100% - 20em);
    --sidebar-name-font-size: 28px;
}

.sidebar li > p {
    font-weight: 600;
    margin-left: 1em;
}

.markdown-section img {
    box-shadow: 0 5px 15px 5px rgb(0 0 0 / 30%);
 }

/* the dropdown arrows show up no matter what, so we remove them manually here from items that we know don't have any children */
[title~="guide"], [title~="Glossary"]  {
    background-image: none !important;
}

.search .clear-button.show {
    margin-top: 10px;
}
